In [16]:
import pandas as pd

In [30]:
data = pd.read_csv("data/train_set/movement_data_train/movement_train_set_1.csv")

In [31]:
data.head()

,Unnamed: 0,student_id,end_date,is_dropout,level,department,education_form,spec_code,profile,financing,...,freq_academic_building,freq_cultural_centre,freq_library,freq_main_building,freq_sport_complex,total_time_academic_building,total_time_cultural_center,total_time_library,total_time_main_building,total_time_sport
0,7774,f97d6608-520c-11ed-8170-005056bc2da6,2023-08-01,0,Специалитет,Филологический факультет,Очная,52.05.04,,за счет средств федерального бюджета,...,330,0,4,16,30,4006.539722,0.000000,19.518889,67.958056,9.439444
1,6743,da3404a0-52c4-11ed-8170-005056bc2da6,2023-08-01,0,Бакалавриат,ФТФ,Очная,16.03.01,Компьютерное моделирование в инженерной теплоф...,за счет средств федерального бюджета,...,772,17,0,14,66,3802.009167,20.654444,0.000000,9.930833,64.783611
2,1467,2a61c1e3-5232-11ed-8170-005056bc2da6,2023-08-01,0,Бакалавриат,ММФ,Очная,01.03.01,Основы научно-исследовательской деятельности в...,за счет средств федерального бюджета,...,482,0,0,0,42,3892.793889,0.000000,0.000000,0.000000,9.396944
3,2927,570d3b6e-52c3-11ed-8170-005056bc2da6,2023-08-01,0,Бакалавриат,ЮИ,Очная,40.03.01,Юриспруденция,за счет средств физических и (или) юридических...,...,209,5,4,3,81,3448.718333,50.551111,119.010833,22.252778,540.207778
4,6192,ca11c4b0-5233-11ed-8170-005056bc2da6,2023-08-01,0,Бакалавриат,ЮИ,Очная,40.03.01,Юриспруденция,за счет средств физических и (или) юридических...,...,680,2,0,2,60,4439.917222,0.292500,0.000000,1.674722,27.855833

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405 entries, 0 to 6404
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    6405 non-null   int64
 1   student_id                    6405 non-null   object
 2   end_date                      6405 non-null   object
 3   is_dropout                    6405 non-null   int64
 4   level                         6405 non-null   object
 5   department                    6405 non-null   object
 6   education_form                6405 non-null   object
 7   spec_code                     6405 non-null   object
 8   profile                       6405 non-null   object
 9   financing                     6405 non-null   object
 10  edu_year                      6405 non-null   int64
 11  dropout_count                 6405 non-null   int64
 12  events_count                  6405 non-null   int64
 13  events                        6405 non-null   object
 14  last_event                    6405 non-null   object
 15  id                            6405 non-null   int64
 16  start_date_month              6405 non-null   int64
 17  start_date_day                6405 non-null   int64
 18  global_start_date_month       6405 non-null   int64
 19  global_start_date_day         6405 non-null   int64
 20  most_visited                  6405 non-null   object
 21  most_visited_freq             6405 non-null   int64
 22  freq_academic_building        6405 non-null   int64
 23  freq_cultural_centre          6405 non-null   int64
 24  freq_library                  6405 non-null   int64
 25  freq_main_building            6405 non-null   int64
 26  freq_sport_complex            6405 non-null   int64
 27  total_time_academic_building  6405 non-null   float64
 28  total_time_cultural_center    6405 non-null   float64
 29  total_time_library            6405 non-null   float64
 30  total_time_main_building      6405 non-null   float64
 31  total_time_sport              6405 non-null   float64
dtypes: float64(5), int64(16), object(11)
memory usage: 1.6+ MB

In [33]:
data.columns

Index(['Unnamed: 0', 'student_id', 'end_date', 'is_dropout', 'level',
       'department', 'education_form', 'spec_code', 'profile', 'financing',
       'edu_year', 'dropout_count', 'events_count', 'events', 'last_event',
       'id', 'start_date_month', 'start_date_day', 'global_start_date_month',
       'global_start_date_day', 'most_visited', 'most_visited_freq',
       'freq_academic_building', 'freq_cultural_centre', 'freq_library',
       'freq_main_building', 'freq_sport_complex',
       'total_time_academic_building', 'total_time_cultural_center',
       'total_time_library', 'total_time_main_building', 'total_time_sport'],
      dtype='object')

In [34]:
data[['most_visited', 'most_visited_freq']].head()

        most_visited  most_visited_freq
0  Academic Building                330
1  Academic Building                772
2  Academic Building                482
3  Academic Building                209
4  Academic Building                680